.admin-page {
    min-height: 600px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.panel {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    .succes-msg {
        color: #00e22d;
    }

    .error-msg {
        color: #fd0000;
    }

    &__title {
        margin: 0;
    }

    &__input {
        width: 100%;
        border-radius: 10px;
        padding: 5px 10px;
        background: transparent;
        border: 1px #adadad solid;
        padding: 5px 5px;
        height: 40px;
        font-size: 17px;
    }

    &__dateinput {
        width: 100%;
        border-radius: 10px;
        padding: 5px 10px;
        background: transparent;
        border: 1px #adadad solid;
        padding: 5px 5px;
        height: 40px;
        font-size: 17px;
    }

    &__dateline {
        display: flex;
        gap: 5%;
        margin-top: -26px;
    }

    &__datetitle {
        margin: 0;
    }

    &__datecol {
        display: flex;
        flex-direction: column;
        width: 47.5%;
    }


    &__btn {
        width: 100%;
        max-width: 450px;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        color: #fff;
        border-radius: 10px;
        font-size: 22px;
        align-self: end;
        cursor: pointer;
        user-select: none;
    }

    &__status-selector {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 3%;
        user-select: none;
    }

    &__spec-status {
        width: 48.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 40px;
        cursor: pointer;
    }

    .selected {
        border: 1px #000 solid;
    }
}