.cart-page {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
        margin: 0;
    }

    &__create-order {
        width: 100%;
        max-width: 450px;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        color: #fff;
        border-radius: 10px;
        font-size: 22px;
        align-self: end;
        cursor: pointer;
    }

    &__total-price {
        align-self: end;
        font-size: 20px;
    }

    .separator {
        background: #efefef;
        height: 2px;
        width: 100%;
        border: none;
    }

    .error {
        color: #ff0000;
    }

    .order-details {
        width: 100%;
        max-width: 450px;
        // background: #cfcfcf;
        align-self: end;

        &__row {
            display: flex;
            align-items: flex-start;
        }

        &__column {
            display: flex;
            flex-direction: column;
        }

        &__input {
            width: 100%;
            border-radius: 10px;
            background: transparent;
            border: 1px #adadad solid;
            padding: 5px 5px;
            height: 40px;
            font-size: 17px;
        }

        &__title {
            font-size: 20px;
            margin: 0;
        }

        .row2 {
            gap: 5%;
        }
        .column2 {
            width: 47.5%;
        }

        .row3 {
            gap: 5%;
            margin-top: 10px;
        }
        .column3 {
            width: 30%;
        }
    }
}