.category-card {

    text-decoration: none;
    cursor: pointer;
    transition: .2s;
    width: 15%;

    &:hover {
        filter: brightness(0.9);
    }

    &__image {
        width: 233px;
        height: 133px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__name {
        color: #000;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
        font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
    }

    @media (max-width: 1478px) {
        & {
            width: 17%;
        }
    }

    @media (max-width: 768px) {
        &__image {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }

        & {
            width: 49%;
        }
    }
}