.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
}

.products-page {
    min-height: 600px;
    

    &__title {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
}