.profile-page {
    min-height: 600px;

    .orders-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.order-card {
    width: 100%;
    // max-width: 350px;
    border: 2px #000 solid;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__number {
        margin: 0;
        font-size: 30px;
    }

    &__price {
        margin-top: 25px;
        font-size: 24px;
    }

    &__date {
        margin: 0;
        font-size: 24px;
    }

    &__status {
        padding: 4px 10px;
        border-radius: 70px;
        align-self: end;
    }

    @media (max-width: 500px){
        &__number {
            font-size: 24px;
        }
    
        &__price {
            font-size: 16px;
        }
    
        &__date {
            font-size: 16px;
        }
    }
}

.order-popup {
    width: 100%;
    max-width: 800px;
    background: #fff;
    // min-height: 600px;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        width: 35px;
        cursor: pointer;
    }

    &__title {
        margin: 0;
        font-size: 25px;
    }

    &__total {
        font-size: 25px;
        margin: 0;
    }

    &__ok-btn {
        border-radius: 10px;
        background: #000;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
    }

    @media (max-width: 700px) {
        &__total {
            font-size: 17px;
        }
    }
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 17px;


    &__column {
        padding: 0 10px;
    }

    &__image {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        background: #f7f7f7;
    }

    &__brand {
        font-size: 21px;
        text-transform: uppercase;
        margin: 0;
    }

    &__title {
        // font-size: calc(21px + 12 * ((100vw - 320px) / (600 - 320)));
        font-size: 21px;
        margin: 0;
    }

    &__price {
        font-size: 21px;
        text-align: end;
        // font-size: calc(13px + (21 - 13) * ((100vw - 320px) / (800 - 320)));
    }

    .image-column {
        width: 27%;
    }

    .name-column {
        width: 53%;
    }

    .price-column {
        width: 20%;
        display: grid;
    }

    @media (max-width: 700px) {
        &__brand {
            font-size: 16px;
        }
    
        &__title {
            font-size: 16px;
        }
    
        &__price {
            font-size: 16px;
        }

        &__column {
            padding: 0 3px;
        }
    }

    @media (max-width: 500px) {
        &__brand {
            font-size: 11px;
        }
    
        &__title {
            font-size: 11px;
        }
    
        &__price {
            font-size: 12px;
        }

        .name-column {
            width: 45%;
        }
    
        .price-column {
            width: 28%;
            display: grid;
        }
    }
}